*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  overflow: hidden;
  background-color: #bbd6f1;
}
.itemListTittle{
  width: 100%;
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  text-transform: uppercase;
}
