*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: #c2c292;
}
.linkNav{
  text-decoration: none;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0.2rem 1.8rem;
  color:white;
  font-family: sans-serif;
  font-size: 1.2rem;
  transition: 0.5s all ease;
  cursor: pointer;  

}
.linkNav:hover{
  color: #0c361f;
  background-color: #c2c292;
  transition: 0.5s all ease;

}
.linkHold{
  text-decoration: none;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0.2rem 1.8rem;
  color:#0c361f;
  font-weight: 700;
  font-family: sans-serif;
  font-size: 1.2rem;
  transition: 0.5s all ease;
  cursor: pointer;
  background-color: #c2c292;

}
@media screen and (max-width: 1010px){
  .linkNav{
    width: 100%;
  }
}


.container{
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0px auto;
}
.imagen-card{
  width: 95%;
  height: 150px;
  margin: auto;
  border-radius: 10px;
}
.caja-card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 280px;
  height: auto;
  margin: 20px;
  border: 3px solid #0c361f;
  border-radius: 10px;
  padding: 10px;
  font-family: sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.5;
  /* background-color:rgb(195, 187, 187); */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.25s;  
}
.caja-card:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0,0,0,0.8);

}
.titulo-card{
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  color: #001c52;
  margin: 15px 15px;
  font-weight: 700;
}
.detalle-card{
  margin:20px 0 20px 0;
  color: #001c52;
  font-weight: 700;
}
.precio-card{
  margin: 15px 0 15px 0;
  color: rgb(49, 48, 48);
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}
.button-carrito,
.button-detalle{
  width: 60%;
  margin: auto;
  padding: 3px;
  font-size: 18px;
  margin-bottom: 5px;
  background-color: #0c361f;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  text-align: center;
}
.button-carrito:hover{
  background-color: grey;
  color: #001c52;
  font-weight: 700;
}
.button-detalle:hover{
  background-color: grey;
  color: #001c52;
  font-weight: 700;
}
.Link-detalles{
  color: white;
  text-decoration: none;
}
.verduras{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 25px;
  color: #0c361f;
}
